*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html, body{
    height: 100%;
    width: 100%;
    /* overflow: auto; */
}
/* body::-webkit-scrollbar {
    display: none; 
}

body {
    scrollbar-width: none; 
}

body {
    -ms-overflow-style: none;
} */
body{
    background-color: #f8f8f8 ;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    /*background-color: rgb(161, 161, 196);*/
    position: relative;
    padding-top: 0.1px;
}
#nav h3{
    display: none;
}
#nav{
   height: 11vh;
   width: 100%; 
   /*background-color: rgb(236, 154, 154);*/
   margin-top: 40px;
   border-top: 2px solid #000;
   border-bottom: 2px solid #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

#nav h1{
    height: 100%;
    /*background-color: rgb(255, 192, 128);*/
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monument;
    font-size: 3.5vw;
    letter-spacing: -1;
    position: relative;
}

#nav h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 1.2vw;
    position: absolute;
    top:11%;
    right: -3%;
}
#nav h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 1.2vw;
    color: #666;
    letter-spacing:0.1px ;
    position: absolute;
    bottom: 8%;
    right:-5%;
}
#nav h2{
    height: 100%;
    /*background-color: rgb(255, 192, 128);*/
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    font-size: 2vw;
    font-weight: 600;
}

#nav h2:nth-last-child(2){
    width: 29%;
}
#nav h2:nth-last-child(1){
    width: 10%;
}
 

#center{
    height: 90%;
    width: 100%;
    /*background-color: aqua;*/
    position: relative;
    padding: 3.8vw;
}

#content{
    height: 100%;
    width: 100%;
    background-color: burlywood;
    position: relative;
}
#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 
#overlay{
    height: 52%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /*background-color: red; */
    padding: 3vw;
    color: #fff;
    
}
#over1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}
#over1 h1{
    font-family: monument;
    font-size: 3.6vw;
    mix-blend-mode: difference;
    
}
#over1 h2{
    font-size: 1vw;
    padding: 2vw 2.2vw;
    /*background-color: blue;*/
    border-radius: 50%;
    border: 1px solid #fff;
    
}
#over2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #fff;
    padding: 1.5 vw 0;
}
#over2 h4{
    font-size: 1.3vw;
    font-weight: 500;
}
#over2 img{
    height: 3vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    /*background-color: red;  */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container{
    height: 100%;
    width: 110%;
    /*background-color: blue;*/
    display: inline-block;
    padding: 2vw;
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#scroll img{
    /*display: none;*/
    height: 95%;
    border-radius: 50%;
    width: 15%;
    margin: 1vw;
    object-fit: cover;
    object-position: 30% 30%;
}

@keyframes anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 11vh;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

}
#alphabet h5{
    font-size: 1.7vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 2vw;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.6vw 0.7vw;
    /*background-color: yellow;*/
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #00000000;
    transition: all ease 0.2s;
}
#alphabet h6:hover{
    border: 1px solid #000;
}
#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
}
#page2-part1{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1495063378081-52411c3eedf1?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position: center;
}
#page2-part2{
    height: 100%;
    width: 40%;
}
#page2-part2 img{
    width: 100%;
    object-fit: cover;
    height: 75%;
}

#part2-text{
    width: 100%;
    height: 100%;
    display: flex;
}

#part2-text1{
    height:25%;
    width: 45%;
    /*background-color: peru;*/
    padding-top: 20px;
}
#part2-text1 h5{
    font-size: 1.7vw;
    font-weight: 580;
    line-height: 2vw;
    
}
#part2-text2{
    height:25%;
    width: 55%;
    /*background-color: rgb(221, 131, 14);*/
    padding-top: 30px;
    padding-left: 15px;
    display: flex;
    justify-content: flex-end;
}

#part2-text2 p{
    font-size: 0.95vw;
    
}

#title{
    width: 100%;
    height: 5%;
    padding-left:5vw;
    /*background-color: lightgreen;*/
}
#title h1{
    font-family: monument;
    font-size: 2.5vw;

}
#page3{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5vw;
    
}
#page3-part1{
    height: 100%;
    width: 40%;
    /*background-color: rgb(209, 87, 112);*/
}


#page3-part1-part1{
    height: 75%;
    width: 100%;
    /*background-color: blanchedalmond;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3-part1-part1 img{
    object-fit: cover;
    object-position: center;
    transform: scale(1.5)
    
}
#page3-part1-part2{
    height: 25%;
    width: 100%;
    /*background-color: rgb(126, 71, 0);*/
    display: flex;
    align-items: flex-end;
}

#page3-part1-part2 h2{
    font-size: 1.8vw;
    font-weight: 600;
}

#page3-part2{
    height: 100%;
    width: 60%;
    background-color: aqua;
}

#page3-part2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 10%;
    
}

#page4{
    width: 100%;
    height: 100%;
    /*background-color: burlywood;*/
    padding: 2vw 5vw;
}

#page4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page5{
    height: 100%;    
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1{
    text-align: center;
    font-family: monument;
    font-size: 3vw;
    margin-bottom: 7vh;
}
.elem{
    height: 15vh;
    width: 100%;
    /*background-color: cyan;*/
    border-top:2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    position: relative;
    transition: all ease 0.7s;
}
.elem img{
    height:7vw;
    width: 7vw;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    opacity: 0;
    transition: all ease 0.8s;
    object-fit: cover;
    /* object-position: center; */

}


.elem h4{
    font-size: 1.5vw;
    font-weight: 400;
    width: 6%;
    /* background-color: rebeccapurple; */
}

.elem .elem-part2{
    width: 45%;
    /* background-color: aqua; */

}
.elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}
.elem-part2 h5{
    font-size: 0.9vw;
    font-weight: 600;
}
.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:nth-last-child(1) img{
    object-position: top;
    left: 40%;
}

.elem:nth-last-child(3) img{
    left: 40%;
}

.elem:hover{
    background-color: #e6e6e66e;
}
.elem:hover img{
    opacity: 1;
    left: 24%;
} 

#page6{
    width: 100%;
    height: 100%;
    /* background-color: turquoise; */
    padding: 5vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6-part1{
    width: 55%;
    height: 100%;
    /* background-color: cadetblue; */
}
#page6-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


#page6-part2{
    width: 43%;
    height: 100%;
    /* background-color: rgb(88, 90, 240); */
}

#page6-part21{
    height: 40%;
    width: 100%;
    /* background-color: rgb(97, 53, 37); */
}
#page6-part21 h1{
    padding-top: 0.4vw;
    font-family: monument;
    font-weight: 600;
    font-size: 2.3vw;
}
#page6-part21 h5{
    font-size: 1.1vw;
    font-weight: 600;
    padding: 1vw 0vw;
}

#page6-part21 p{
    font-size: 0.9vw;
    padding: 0.5vw 0vw;
}
#page6-part22{
    /* background-color: rgb(123, 248, 248); */
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page6-part22 img{
    width: 55%;
    height: 100%;
    object-fit: cover;
}

#page6-part22 img:nth-last-child(1){
    width: 40%;
}

#page7{
    width: 100%;
    height: 100%;
    /* background-color: forestgreen; */
    background-size: cover;
    padding: 4vw 4vw;
}
#page7 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
#page8{
    height: 100%;
    width: 100%;
    /* background-color:lightskyblue; */
    padding: 5vw 4vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#page8-part1{
    width: 55%;
    height: 100%;
    /* background-color: antiquewhite; */
}
#page8-part1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page8-part2{
    width: 42%;
    height: 100%;
    /* background-color: rgb(248, 196, 128); */
}

#page8-part2 img{
    height: 74%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#page8-part22{
    padding-top: 1vw;
    display: flex;
    justify-content: space-between;
    gap: 1.2vw;
    
}

#page8-part22 h3{
    font-size: 1.5vw;
    font-weight: 600;
}

#page8-part22 p{
    font-size: 1vw;
}

#page9{
    padding-top: 2vw;
    width: 100%;
    height: 100%;
}

#marquee{
     /* height: 15vh; */
     width: 100%;
     height: 11%;
     /* background-color: red; */
     padding: 0.8vw;
     white-space: nowrap;
     overflow-x: hidden;
     overflow-y: hidden;
     border-top: 2px solid black;
     border-bottom: 2px solid black;
}

#marquee h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-family: monument;
    margin-right: 16px;
    letter-spacing: 3px;
    /* background-color: rgba(12, 27, 168, 0.644); */
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes move {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(calc(-100% - 20px));
    }
}

#subpage9{
    /* background-color: rgb(149, 95, 199); */
    width: 100%;
    height: 89%;
    padding: 5vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#page9-part1{
    width: 15vw;
    height: 100%;
    /* background-color: lightcoral; */
}

#page9-part1 h1{
    font-family: monument;
    font-size: 2vw;
    font-weight: 600;
    text-align: center;
}
#page9-part2{
    width: 32vw;
    height: 100%;
    /* background-color: lightgreen; */
}
#page9-part2 h5{
    font-size: 1.3vw;
    font-weight: 550;
    padding-bottom: 2vw;
}
#page9-part2 span{
    font-size: 1.5vw;
    font-weight: 400;
}
#page9-part2 img{
    width: 100%;
    height: 74.5%;
    object-fit: cover;
    object-position: center;
}
#page9-part3{
    width: 38vw;
    height: 100%;
    /* background-color: lightskyblue; */
}

#page9-part3 h5{
    font-size: 1.3vw;
    font-weight: 550;
    padding-bottom: 2vw;
}
#page9-part3 span{
    font-size: 1.5vw;
    font-weight: 400;
}
#page9-part3 img{
    width: 100%;
    height: 74.5%;
    object-fit: cover;
    object-position: top;
}

/* #page9{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    padding: 5vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */



#footer{
    width: 100%;
    height: 20%;
    /* background-color: lightsalmon; */
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}
#footer h1{
    height: 100%;
    padding: 1.2vw;
    /* background-color: rgb(255, 192, 128); */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: monument;
    font-size: 3.5vw;
    letter-spacing: -1;
    position: relative;
    /* border-bottom: 2px solid black; */
}

#footer h1::after{
    content: "©";
    font-family: gilroy;
    font-weight: 400;
    font-size: 1.2vw;
    position: absolute;
    top:9%;
    right: -2%;
}
#footer h1::before{
    content: "model management";
    font-family: gilroy;
    font-weight: 500;
    font-size: 1.2vw;
    color: #666;
    letter-spacing:0.1px ;
    position: absolute;
    bottom: 45%;
    right: -3%;
}

#footer h2{
    height: 100%;
    padding: 1.2vw;
    /* background-color: rgb(255, 192, 128); */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2vw;
    font-weight: 600;
    border-right: 2px solid black;
}

#footer-contact{
    height: 100%;
    width:40%;
    /* background-color: rgb(255, 192, 128); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#footer-contact h3{
    height: 40%;
    padding: 1.2vw;
    /* background-color: rgb(255, 192, 128); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-weight: 600;
}
#contact-us{
    padding: 1vw;
    width: 100%;
    height:60%;
    border-top: 2px solid black;
    /* border-right: 2px solid black; */
    justify-self: flex-start;
}
#contact-us p{
    font-size: 1vw;
    font-weight: 400;
}

#extra{
    width: 100%;
    height: 2vh;
}


@media (max-width:600px) {
    body{
        overflow-x:hidden ;
    }
    #nav{
        height: 8vh;
        /*background-color: rgb(236, 154, 154);*/
        margin-top: 20px;
        padding: 0 5vw;
     }
     
     #nav h1{
         width: 40%;
         justify-content: flex-start;
         font-size: 24px;
     }
     #nav h3{
        display: block;
     }
     
     #nav h1::after{
         display: none;
     }
     #nav h1::before{
        display: none;
     }
     #nav h2{
         display: none;
     }
     #center{
        height: 40%;
        width: 100%;
        /*background-color: aqua;*/
        position: relative;
        padding: 3vw 4vw;
    }
    
    #content{
        height: 100%;
        width: 100%;
        /* background-color: burlywood; */
        position: relative;
    }
    #content video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
     
    #overlay{
        height: fit-content;
        width: 100%;
        position: absolute;
        bottom: 0;
        /*background-color: red; */
        padding: 3vw;
        color: #fff;
        
    }
    #over1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2vw;
    }
    #over1 h1{
        font-family: monument;
        font-size: 5.5vw;
        mix-blend-mode: difference;
        font-weight: 100;
        
    }
    #over1 h2{
        font-size: 2vw;
        padding: 3vw 3.2vw;
        /*background-color: blue;*/
        border-radius: 50%;
        border: 1px solid #fff;
        
    }
    #over2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 2px solid #fff;
        padding: 1.5 vw 0;
    }
    #over2 h4{
        font-size: 3.3vw;
        font-weight: 500;
    }
    #over2 img{
        height: 5vw;
    }
    #scroll{
        height: 20vh;
        width: 100%;
        /*background-color: red;  */
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #container{
        height: 100%;
        width: 210%;
        /*background-color: blue;*/
        display: inline-block;
        padding: 2vw;
        animation-name: anime;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    #scroll img{
        /*display: none;*/
        height: 95%;
        border-radius: 50%;
        width: 15.5%;
        margin: 1vw;
        object-fit: cover;
        object-position: 30% 30%;
    }
    #alphabet{
        height: 6vh;
        align-items: center;
        padding: 0 0.5vw;
        justify-content:flex-start;
        gap: 0px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    
    }
    #alphabet h5{
        font-size: 1.8vw;
        /* letter-spacing: 1px; */
        border-bottom: 1px solid #000;
        margin-right: 0vw;
    }
    #alphabet h6{
        font-size: 1.3vw;
        text-transform: uppercase;
    }
    #alphabet h6:hover{
        border: 1px solid #000;
    }

    #page2{
        height: 50%;
        width: 100%;
        display: flex;
        padding: 2vw 2vw;
    }
    #page2-part1{
        width: 55%;
        background-size:cover;
        background-position: center;
    }
    #page2-part2{
        width: 43%;
    }
    #page2-part2 img{
        width: 100%;
        object-fit: cover;
        height: 80%;
    }
    
    #part2-text{
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    #part2-text1{
        height:25%;
        width: 45%;
        /*background-color: peru;*/
        padding-top: 10px;
    }
    #part2-text1 h5{
        font-size: 2.5vw;
        line-height: 3vw;
        
    }
    #part2-text2{
        height:25%;
        width: 55%;
        /*background-color: rgb(221, 131, 14);*/
        padding-top: 10px;
        padding-left: 15px;
        display: flex;
        justify-content: flex-end;
    }
    
    #part2-text2 p{
        font-size: 1.7vw;
        font-weight: 500;
        
    }
    
    #title{
        width: 100%;
        height: 2%;
        padding-left:3vw;
        /*background-color: lightgreen;*/
    }
    #title h1{
        font-family: monument;
        font-size: 2.6vw;
    
    }
    #page3{
        height: 40%;
        padding: 2vw 2vw;
        /* background-color: #ce0000; */
        
    }
    #page3-part1{
        width: 40%;
        /* background-color: rgb(209, 87, 112); */
    }
    
    
    #page3-part1-part1{
        height: 50%;
        /* background-color: palevioletred; */
    }
    #page3-part1-part1 img{
        width: fit-content;
        height: 100%;
        transform: none;
        
    }
    #page3-part1-part2{
        height: 50%;
        width: 100%;
        /*background-color: rgb(126, 71, 0);*/
    }
    
    #page3-part1-part2 h2{
        font-size: 2.5vw;
        font-weight: 600;
    }
    
    #page3-part2{
        height: 100%;
        width: 60%;
        /* background-color: aqua; */
    }
    
    #page3-part2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        
    }
    #page4{
        width: 100%;
        height: 50%;
        /*background-color: burlywood;*/
        padding: 2vw 2vw;
    }
    
    #page4 img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }

    #page5{
        height: 40%;    
        width: 100%;
        /* background-color: aqua; */
        position: relative;
        padding: 2vw 2vw;
    }
    
    #page5>h1{
        text-align: center;
        font-family: monument;
        font-size: 3vw;
        margin-bottom: 2vh;
    }
    .elem{
        height: 8vh;
        width: 100%;
        /*background-color: cyan;*/
        border-top:2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 2vw;
        position: relative;
        transition: all ease 0.7s;
    }
    .elem img{
        height:10vw;
        width: 10vw;    
    }
    
    
    .elem h4{
        font-size: 2.5vw;
        /* background-color: rebeccapurple; */
    }
    
    .elem-part2 h1{
        font-size: 2.7vw;
        font-weight: 500;
    }
    .elem-part2 h5{
        font-size: 1.6vw;
        font-weight: 600;
    }

    #page6{
        height: 40%;
        /* background-color: turquoise; */
        padding: 2vw 2vw;
    }
    
    #page6-part1{
        width: 50%;
        /* background-color: cadetblue; */
    }
    
    #page6-part2{
        width: 47%;
        /* background-color: rgb(88, 90, 240); */
    }
    
    #page6-part21{
        height: 40%;
        width: 100%;
        /* background-color: rgb(241, 163, 134); */
    }
    #page6-part21 h1{
        font-size: 3.6vw;
    }
    #page6-part21 h5{
        font-size: 2.6vw;
        font-weight: 600;
        padding: 1vw 0vw;
    }
    
    #page6-part21 p{
        font-size: 1.6vw;
        padding: 0.5vw 0vw;
    }

    #page7{
        height: 40%;
        padding: 2vw 2vw;
    }
    #page8{
        height: 50%;
        /* background-color:lightskyblue; */
        padding: 2vw 2vw;
    }
    #page8-part1{
        width: 50%;
        /* background-color: antiquewhite; */
    }
    #page8-part2{
        width: 48%;
        height: 100%;
        /* background-color: rgb(248, 196, 128); */
    }
    #page8-part22{
        padding-top: 1vw;
        display: flex;
        justify-content: space-between;
        /* background-color: #ec8181; */
        gap: 10px;
        
    }
    
    #page8-part22 h3{
        font-size: 2.3vw;
        font-weight: 600;
    }
    
    #page8-part22 p{
        font-size: 1.7vw;
    }

    #page9{
        padding-top: 2vw;
        width: 100%;
        height: 40%;
        /* background-color: #ff6868; */
        padding: 2vw 2vw;
    }
    
    #marquee{
         height: 10%;
         /* background-color: red; */
         padding: 1vw;
    }
       
    #subpage9{
        /* background-color: rgb(149, 95, 199); */
        height: 90%;
        padding: 2vw 2vw;
    }
    #page9-part1{
        width: 10vw;
        /* background-color: lightcoral; */
    }
    
    #page9-part1 h1{
        font-size: 2.8vw;
    }
    #page9-part2{
        width: 35vw;
        height: 100%;
        /* background-color: lightgreen; */
    }
    #page9-part2 h5{
        font-size: 1.5vw;
        padding-bottom: 1vw;
    }
    #page9-part2 img{
        height: 85%;
    }
    #page9-part3{
        width: 45vw;
        height: 100%;
    }
    
    #page9-part3 h5{
        font-size: 1.5vw;
        padding-bottom: 1vw;
    }

    #page9-part3 img{
        height: 85%;
    }


    #footer{
        width: 100%;
        height: 13vh;
        /* background-color: lightsalmon; */
        
    }
    #footer h1{
        height:100%;
        padding: 2vw;
        /* background-color: rgb(255, 192, 128); */
        width: 20%;
        font-size: 3.5vw;
    }
    
    #footer h1::after{
        content: "©";
        font-family: gilroy;
        font-weight: 400;
        font-size: 2vw;
        position: absolute;
        top: 4%;
        right: -5%;
    }
    #footer h1::before{
        content: "model management";
        font-family: gilroy;
        font-weight: 500;
        font-size: 2vw;
        bottom: 74%;
        right: -7%;
    }
    
    #footer h2{
        width: 17.5%;
        padding: 2vw;
        /* background-color: rgb(153, 106, 59); */
        display: flex;
        font-size: 2.2vw;
    }
    
    #footer-contact{
        height: 100%;
        width:45%;
        /* background-color: rgb(255, 192, 128); */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    #footer-contact h3{
        height: 39%;
        padding: 2vw;
        /* background-color: rgb(112, 90, 68); */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border-right: 2px solid black; */
        font-size: 2.2vw;
        font-weight: 600;
    }
    #contact-us{
        padding: 1vw;
        width: 100%;
        height: 60%;
        border-top: 2px solid black;
        /* border-right: 2px solid black; */
        justify-self: flex-start;
    }
    
    #extra{
        width: 100%;
        height: 2vh;
    }
}